body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff5f5;
    margin: 0;
    padding: 20px;
    
}

h1 {
    color: #ff4081;
}

.descuento {
    font-size: 18px;
    font-weight: bold;
    color: #e91e63;
}

img {
    border-radius: 15px;
    margin: 15px 0;
    width: 100%;
    height: auto;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    background-color: #ff4081;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}

.btn:hover {
    background-color: #e91e63;

    
}

.botones {
    margin-top: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 10px auto;
    padding: 15px;
    width: 250px;

    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}


.icono {
    width: 24px;
    height: 24px;
}

.whatsapp {
    background-color: #25D366;
}

.instagram {
    background-color: #E1306C;
}

.facebook {
    background-color: #1877F2;
}


.btn:hover {
    opacity: 0.8;
}

.contenedor {
    width: 90%;
    max-width: 600px;
    margin: auto;
}
