body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
   background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Imagenes/83870974_1056013131401967_7318003563710382080_n-convertido-de-jpg\ \(1\).png");

    background-size: cover;
    background-position: center;
    
}

h2{

    color: white;

}

h1 {
    color: #12c08c;
    
}

.descuento {
    font-size: 18px;
    font-weight: bold;
    color: #12c08c;
}

img {
    border-radius: 15px;
    margin: 15px 0;
    width: 100%;
    height: auto;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    background-color: #ff4081;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}

.btn:hover {
    background-color: #12c08c;

    
}

.botones {
    margin-top: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 10px auto;
    padding: 15px;
    width: 250px;

    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}


.icono {
    width: 24px;
    height: 24px;
}

.whatsapp {
    background-color: #25D366;
}

.instagram {
    background-color: #E1306C;
}

.facebook {
    background-color: #1877F2;
}


.btn:hover {
    opacity: 0.8;
}

.contenedor {
    width: 90%;
    max-width: 600px;
    margin: auto;
}
